## Requirements

- Python 3.9+  
- Dependencies:  
  ```
  numpy
  scipy
  opencv-python
  matplotlib
  pandas
  scikit-image
  pillow
  ```

To install dependencies, run:

    pip install -r requirements.txt




